#map-container
  #backdrop
  #floormap
    #itemmap
    #npcmap
  #player
    =image_tag 'sprites/player/walk_down.png', id: 'spritesheet-player'
#dialogue-overlay
  #interlocutor
  #dialogue
  #options
