#map-container
  #backdrop
  #floormap
    #itemmap
    #npcmap
  #player
    =image_tag 'sprites/player/walk_down.png', id: 'spritesheet-player'
#dialogue-overlay
  #interlocutor
  #dialogue
  #options

:javascript
  $(function() { game.init("#{@level_name}","#{@start_x}","#{@start_y}") });
