@import compass/reset

body
  background: #000

#game-container
  position: absolute
  overflow: hidden
  top: 0
  left: 0
  width: 100%
  height: 100%
  #floormap, #itemmap, #npcmap
    position: absolute
    top: 0
    left: 0
    z-index: 100
  #player
    position: absolute
    overflow: hidden
    width: 320px
    height: 320px
    top: 0
    left: 0
    margin: 0
    padding: 0
    z-index: 300
    img
      position: absolute

  .tile
    display: inline-block
    width: 320px
    height: 320px
    margin: 0
    padding: 0
    z-index: 200
